---
layout: default
---

<script src="js/webgl-geometry/DrawableBlueprint.js"></script>
<script src="js/webgl-geometry/blueprints/Point.js"></script>
<script src="js/webgl-geometry/blueprints/Segment.js"></script>
<script src="js/webgl-geometry/blueprints/Arrow.js"></script>
<script src="js/webgl-geometry/blueprints/Vector.js"></script>
<script src="js/webgl-geometry/blueprints/Triangle.js"></script>
<script src="js/webgl-geometry/blueprints/CoordSystem.js"></script>
<script src="js/webgl-geometry/gl-matrix.js"></script>
<script src="js/webgl-geometry/DrawableInstance.js"></script>
<script src="js/webgl-geometry/instances/PointInstance.js"></script>
<script src="js/webgl-geometry/instances/SegmentInstance.js"></script>
<script src="js/webgl-geometry/instances/ArrowInstance.js"></script>
<script src="js/webgl-geometry/instances/VectorInstance.js"></script>
<script src="js/webgl-geometry/instances/TriangleInstance.js"></script>
<script src="js/webgl-geometry/instances/CoordSystemInstance.js"></script>
<script src="js/webgl-geometry/misc/SpecialDrawableBlueprint.js"></script>
<script src="js/webgl-geometry/misc/SpecialDrawableInstance.js"></script>
<script src="js/webgl-geometry/misc/PlyModelLoader.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="js/webgl-geometry/Scene.js"></script>
<script src="js/main.js"></script>
<canvas id="glCanvas" width="200" height="200" style="border-radius: 50%; border: 1px solid black;"></canvas>

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
    <h6>If you think you can put my skills to good use, why not <a href="{{ site.baseurl }}/contact">reach out</a>?</h6>
  </div>
  {% endif %}
  <div class="work" style="white-space:nowrap;">
    <h3 style="text-align: center">My Work</h3>
    <div style="background-color: #2196F3;">
    <div class="w3-grid-container" style="width: 80%; margin-right: auto; margin-left: auto">
    {% for project in site.portfolio %}
        <div class="w3-grid-item">
          <div class="w3-container">
            <img class="w3-image" src="{{ project.thumbnail-path }}" alt="{{ project.title }}">
            <div class="w3-middle">
              <h5>{{ project.title }}</h5>
              <a class="fa fa-book" href="{{ project.url }}" style="display: inline; color: white; margin-right: 10px;"></a>
              <a class="fa fa-github" href="{{ project.host }}" style="display: inline; color: white;  margin-left: 10px;"></a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
    </div>
  </div>
