// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  h2 {
    padding:5% 20% 0%;
    text-align: center;
  }
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Work listing
.work {
  h2 {
    text-align: center;
  }
  //@extend %padding-regular;
  padding: 0;
  background-size: $feature-image-size;
  border-bottom: 1px solid $border-color;
  li {
    width: 32%;
    margin-right:0.5%;
    margin-left:0.5%;
    margin-bottom: 0;
    display: inline-block;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

.w3-container {
  position: relative;
  //width: 50%;
}

.w3-image {
  opacity: 1;
  display: block;
  //width: 100%;
  //height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.w3-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.w3-container:hover .w3-image {
  -webkit-filter: grayscale(100%) brightness(50%);
   -moz-filter: grayscale(100%) brightness(50%);
   filter: grayscale(100%) brightness(50%);
}

.w3-container:hover .w3-middle {
  opacity: 1;
}

.w3-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.w3-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.w3-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
